<%- include("../partials/header"); %>

<div class="container text-center">
    <h3>Are you sure you want to delete the comment: "<%= comment.text %>"?</h3>
    <p>This will permanently delete this comment</p>
    <div class="row">

        <div style="width: 30%; margin: 0 auto;">
            <form class="mb-2" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>

    </div>

</div>

<%- include("../partials/footer"); %>