<%- include("partials/header"); %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="" style="width:30%;"><br><br>

<p><%= campground.description %></p>

<a href="/index">Back to Campgrounds</a>

<%- include("partials/footer"); %>