<%- include("../partials/header"); %>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp! <i class="fas fa-campground"></i></h1>
        <p class="lead">View our hand-picked campgrounds from all over the world!</p>
        <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
    </header>
    
    <!-- <a href="/">Home</a> -->
    
    <div class="row align-items-center">
        <% campgrounds.forEach(campground => { %>
            <div class="col-12 col-sm-6 col-md-3 col-lg-4">
                <div class="card mx-auto mb-3" style="width: 18rem;">
                    <img src="<%= campground.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-sm btn-info">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<%- include("../partials/footer"); %>